body {
  background-image: url('https://images.unsplash.com/photo-1566495774421-a26168bc1623?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80');
}

.d-block{
height : 500px;
}
h1{
text-align: center;
font-family: 'Dosis', sans-serif;
}

h2 {
  color: indigo;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
}

h3 {
  text-align: left;
  font-family: 'Dosis', sans-serif;
}

table,td,tr, th{
  border : 2px solid black;
}
td{
  width: 100px;
}

footer{
clear: both;
background-color: #353538;
color: white;
}


.card{
width : 30%;
height : 26.5%;
float : left;
margin: 1.66%;
}

#target {
  border-radius: 5px;
  box-shadow: grey;

  text-align: left;
  color: ghostwhite;
  font-size: 30px;
  
  font-family: 'Signika', sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  align-self: auto;
  width: auto;
  height: 400px;
  /* height:160px; */
  padding: 5px;
  display: none;
  clear: both;
  margin-bottom: 20px;
  transition: height 2s;
}
@keyframes gradientBG {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
=======
  background:#0099cc;
  align-self: auto;
  width:auto;
  height:300px;
  /* height:160px; */
  padding:5px;
  display:none;
  clear:both;
  margin-bottom: 20px;
  transition: height 2s;

}


#target2 {
  border-radius: 5px;
  box-shadow: grey;

  text-align: left;
  color: ghostwhite;
  font-size: 25px;
  
  font-family: 'Signika', sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  width: auto;
  height: 400px;
  /* height:160px; */
  padding: 5px;
  display: none;

  background:yellow;
  width: auto;
  height:300px;
  /* height:160px; */
  padding:5px;
  display:none;

  clear: both;
  margin-bottom: 20px;
}

#target3 {
  border-radius: 5px;
  box-shadow: grey;

  text-align: left;
  color: ghostwhite;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Signika', sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  width: auto;
  height: 400px;
  /* height:160px; */
  padding: 5px;
  display: none;

  background:yellow;
  width: auto;
  height:300px;
  /* height:160px; */
  padding:5px;
  display:none;

  clear: both;
  margin-bottom: 20px;
}


.Hide
{
display:none;
}
